[Unit]
Description=dropbox halpage service louncher
After=network.target

[Service]
ExecStart=/bin/bash halpage_louncher.bash -s
WorkingDirectory=/home/pi/rpitools/tools/dropbox_halpage/bin/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
