raspbian_img/*.img
cache/*
cache/.*
config/*
gpio/Adafruit_Python_SSD1306/
*.pyc
autodeployment/config/rpitools_config.cfg
tools/dropbox_halpage/lib/Dropbox-Uploader/
tools/dropbox_halpage/lib/local_cache/*
tools/dropbox_halpage/lib/logs/*
gpio/haptic_engine/lib/.is_running
gpio/oled_128x64/lib/logs/*
autodeployment/lib/motion/factory_confs/
tools/socketmem/lib/logs/
tools/socketmem/lib/.dictbackup.json
gpio/oled_128x64/lib/.defaultindex.dat
autodeployment/lib/apache_setup/apache.env
tools/.mysshfs_history
autodeployment/lib/apache_setup/template/htmls/rpitools_file_structure.html
autodeployment/lib/apache_setup/h5ai*
autodeployment/lib/apache_setup/_h5ai*
