raspbian_img/*.img
cache/*
cache/.*
config/*
gpio/Adafruit_Python_SSD1306/
*.pyc
autodeployment/config/rpitools_config.cfg
tools/dropbox_halpage/lib/Dropbox-Uploader/
tools/dropbox_halpage/lib/local_cache/*
tools/dropbox_halpage/lib/logs/*
gpio/haptic_engine/lib/.is_running
gpio/oled_128x64/lib/logs/*
autodeployment/lib/motion/factory_confs/
tools/socketmem/lib/logs/
tools/socketmem/lib/.dictbackup.json
gpio/oled_128x64/lib/.defaultindex.dat
autodeployment/lib/apache_setup/apache.env
tools/.mysshfs_history
autodeployment/lib/apache_setup/template/htmls/rpitools_file_structure.html
autodeployment/lib/apache_setup/h5ai*
autodeployment/lib/apache_setup/_h5ai*
autodeployment/lib/retropie/RetroPie-Setup
autodeployment/config/diskconf.json
gpio/fan_controll/lib/logs/fancontroll.log
autodeployment/config/rpitools_config.cfg.bak
tools/gotop/gotop
tools/backuphandler/.backup_handler_activate
tools/autosync/sync.log
tools/autosync/crontab.swp
tools/autosync/.status
tools/autosync/sync_configs/*.sync
^tools/autosync/sync_configs/template.sync
tools/autosync/.env
tools/backuphandler/.status
tools/autosync/.locks/
tools/HA_AlarmSystem/sysmonitor_last.log
**/.rpienv
**/.DS_Store
autodeployment/bin/run_modules_order.dat
autodeployment/lib/configure_samba/config/smb.conf.final
autodeployment/lib/bludit_cms/config/bludit_docker
autodeployment/lib/configure_minidlna/config/minidlna.conf.bak
autodeployment/lib/configure_minidlna/config/minidlna.conf.final
autodeployment/lib/configure_minidlna/config/minidlna.conf.patch
autodeployment/lib/configure_minidlna/config/minidlna.data
autodeployment/lib/configure_minidlna/config/minidlna.data.bak
