[Unit]
Description=socket memory dict service louncher
After=network.target

[Service]
ExecStart=/bin/bash memDictCore.bash
WorkingDirectory=/home/pi/rpitools/tools/socketmem/bin/
StandardOutput=/dev/null
StandardError=/dev/null
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
