[Unit]
Description=auto refresh transmission with new user ips
After=network.target

[Service]
ExecStart=/bin/bash restart_transmission_w_ext_users.sh -loop
WorkingDirectory=/home/pi/rpitools/tools/auto_restart_transmission/
StandardOutput=/dev/null
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
