[Unit]
Description=rgb LED cotroller service
After=network.target

[Service]
ExecStart=/usr/bin/python3 rgb_led_controller.py
WorkingDirectory=/home/pi/rpitools/gpio/rgb_led/bin/
StandardOutput=/dev/null
StandardError=/dev/null
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
